{{ define "main" }}
<article class="product">
    <div class="container">
        <h1>{{ .Title }}</h1>
        {{ with .Description }}<p class="description">{{ . | markdownify }}</p>{{ end }}
        
        {{ $images := .Params.product_images }}
        {{ $intersperse := .Params.intersperse_images }}
        {{ $inlineImageCount := .Params.inline_image_count | default 2 }}
        {{ $displayedImages := 0 }}
        {{ $productName := .Title }}
        {{ $baseAltText := printf "Buy %s Online - %s" $productName .Description | truncate 100 }}

        {{ if and $intersperse $images (gt (len $images) 0) }}
            {{ $paragraphs := split .Content "<p>" }}
            {{ range $index, $paragraph := $paragraphs }}
                {{ if and (gt $index 0) (lt $index (len $paragraphs)) }}
                    <p>{{ $paragraph | safeHTML }}</p>
                    {{ if and (lt $displayedImages $inlineImageCount) (lt $displayedImages (len $images)) }}
                        {{ $imageIndex := $displayedImages }}
                        {{ $viewText := cond (eq $imageIndex 0) "Front View" (printf "View %d" (add $imageIndex 1)) }}
                        {{ $altText := printf "%s (%s)" $baseAltText $viewText }}
                        <img src="{{ index $images $imageIndex }}" alt="{{ $altText }}" class="product-inline-image">
                        {{ $displayedImages = add $displayedImages 1 }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ .Content }}
        {{ end }}

        {{ if $images }}
        <div class="product-image-gallery">
            {{ range $index, $image := $images }}
                {{ if or (not $intersperse) (ge $index $displayedImages) }}
                    {{ $viewText := cond (eq $index 0) "Main" (printf "Additional View %d" (sub $index $displayedImages)) }}
                    {{ $altText := printf "%s (%s)" $baseAltText $viewText }}
                    <img src="{{ $image }}" alt="{{ $altText }}" class="product-gallery-image">
                {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>
</article>
{{ end }}